.App {
  text-align: center;
}
h1{
  color: #0d8bd9;
  font-size: 80px;
}
form{
  display: grid;
}
.avatar{
  display: flex;
}
form input{
  font-size: 1em;
  padding: 0.5em;
  border-radius: 10px;
  width: 475px;
}
form textarea{
  font-size: 1em;
  padding: 0.5em;
  border-radius: 10px;
  width: 475px;
  height: 250px;
}
form button{
  font-size: 1em;
  padding: 0.5em;
  border-radius: 10px;
}
form img{
  width: 80px;
}
.dislike-likeBtn{
  background-color: transparent;
  border: none;
}
.thumbs{
  font-size: 2em;
  color: white;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.avatars img{
  border-radius: 50%;
  border: solid 2px transparent;
}
.avatars img:hover{
  cursor: pointer;
  border: solid 2px white;
}
.active{
  border: solid 2px white !important;
}